/* all */
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #e9f5db;
}
h1 {
    display: flex;
    justify-content: center;
}
nav a {text-decoration: none;}
nav a, nav a:hover, nav a:visited {color: black;}
.footer {
    display: flex;
    justify-content: space-between;
    background-color: #b9c795;
    margin-top: 15px;
    flex-wrap: wrap;
}
.footertext {
    text-align: right;
    padding: 20px;
    margin-top: 55px;
    font-size: small;
    color: #434541;
}
.beaver {padding: 15px;}
.backtotop {display: flex;}
.backtotop a {margin-left: 10px;}
.backtotop a, .backtotop:hover, .backtotop:visited {
    text-decoration: none;
    color: black;
}
nav .current {font-weight: bold;}
/* top nav bars */
.logobar {
    display: flex;
    justify-content: space-between;
    background-color: #b9c795;
    border: 1px solid #718355;
    flex-wrap: wrap;
}
.login_mybooks {
    display: flex;
    margin-top: 20px;
}
.login_mybooks div {margin: 10px;}
.navbar {
    display: flex;
    justify-content: space-around;
    background-color: #b9c795;
    padding: 25px;
    border-left: 1px solid #718355;
    border-right: 1px solid #718355;
    border-bottom: 1px solid #718355;
    flex-wrap: wrap;
}
/* HOME PAGE */
.home_abovefold, .reviews_abovefold, .bookclub_abovefold {
    display: flex;
    padding-left: 80px;
    padding-right: 80px;
    justify-content: center;
    padding-bottom: 15px;
}
.reader, .little_library {
    margin-left: 150px;
    border: 2px solid #718355;
    align-self: center;
}
.hometext {
    font-size: large;
    margin-left: 30px;
    margin-right: 150px;
    margin-top: 80px;
    line-height: 40px;
}
.downarrow {
    display: flex;
    justify-content: center;
}
.abovefold_bg {
    padding-top: 2px;
    background-color: #cfe1b9;
}
.searchfield {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}
.searchfield img {
    margin-right: 10px;
    align-self: center;
}
.searchfield input, .browseoptions select {
    padding: 10px;
    border-radius: 10px;
    border: .5px solid #434541;
    background-color: #dde5b6;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#search {display: none;}
.genres1, .genres2, .genres3 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.genres1 div, .genres2 div, .genres3 div {
    padding: 15px;
}
.genres1 h3, .genres2 h3, .genres3 h3 {
    text-align: center;
}
.innerbody {
    padding-left: 55px;
    padding-right: 55px;
}

/* Reviews Page */
.bookrow {
    display: flex;
    justify-content: space-around;
}
.pplwekeep, .greatalone, .crawdads, .thehelp, .alittlelife, .hmart, .alchemist, .beautifulworld {
    display: flex;
    width: 650px;
    height: 375px;
    margin-top: 0px;
}
.pplwekeep img, .greatalone img, .crawdads img, .thehelp img, .alittlelife img, .hmart img, .alchemist img, .beautifulworld img {
   align-self: center; 
   padding: 10px;
   padding-right: 20px;
}
.pplwekeep p, .greatalone p, .crawdads p, .thehelp p, .alittlelife p, .hmart p, .alchemist p, .beautifulworld p {
    width: 400px;
}
.browseoptions {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
}
#genre {margin-bottom: 15px;}
.rating {
    margin-top: 0px;
    margin-bottom: 0px;
}
.reviewinfo h3, .reviewinfo h4 {margin-bottom: 1px;}
.reviewinfo h4 {margin-top: 1px;}
.reviewinfo h3 {font-style: italic;}
.greatalone, .pplwekeep, .crawdads, .thehelp, .alittlelife, .hmart, .alchemist, .beautifulworld {
    background-color: #cfe1b9;
    border-radius: 1em;
    margin: 15px;
    padding: 10px;
}

/* Book Club Page */
.bookclub_text {
    width: 550px;
    font-size: large;
    margin-left: 30px;
    margin-right: 30px;
    line-height: 40px;
}
.bookclub_abovefold form {
    padding-left: 20px;
    padding-right: 20px;
    background-color: #b9c795;
}
.bookclub_abovefold img {
    border: 2px solid #718355;
    align-self: center;
}
.smooth {
    display: block;
    width: 100%;
    background-color: black;
    color: white;
    margin: 0 auto;
    transition-property: background-color;
    transition-property: color;
    transition-duration: 0.7s;
}
.smooth:hover, .smooth:focus {
    background-color: white;
    color: black;
}
.smooth2 {
    width: 50%;
    background-color: black;
    color: white;
    margin: 0 auto;
    transition-property: background-color;
    transition-property: color;
    transition-duration: 0.7s;
}
.smooth2:hover, .smooth2:focus {
    background-color: white;
    color: black;
}
#signin, #signin2 {display: none;}
#signup, #signup2 {display: none;}
#signup1, #signin1, #signup2, #signin2 {margin-bottom: 20px;}
.bc_questionnaire {
    background-color: #cfe1b9;
    padding-top: 50px;
    padding-bottom: 25px;
    padding-left: 30px;
    padding-right: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 10px;
}
.bc_questionnaire form input, #signin1, #signup1, #signin2, #signup2, .smooth, .smooth2 {
    border-radius: 1.5em;
    height: 25px;
    border-style: none;
}
.bc_belowfold {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    margin-left: 150px;
    margin-right: 150px;
}
#browse_bc {
    display: inline-grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: auto auto;
    grid-template-areas: 
    "banner banner"
    "bc1 bc2"
    "bc3 bc4"
    "bc5 bc6";
    grid-column-gap: 5px;
    margin-left: 10px;
}
#bc1 {grid-area: banner;}
#bc2 {grid-area: bc1;}
#bc3 {grid-area: bc2;}
#bc4 {grid-area: bc3;}
#bc5 {grid-area: bc4;}
#bc6 {grid-area: bc5;}
#bc7 {grid-area: bc6;}
#bc2, #bc3, #bc4, #bc5, #bc6, #bc7 {cursor: pointer;}
#num4 {margin-bottom: 20px;}
#name, #favbook {
    display: block;
    width: 100%;
}
.question {
    font-weight: bold;
    margin-top: 30px;
}
#booktokPopUp, #mothersPopUp, #truecrimePopUp, #eatPopUp, #lgbtqPopUp, #bookwasbetterPopUp {
    background-color: #cfe1b9;
    border: 10px solid #b9c795;
    display: none;
    width: 50%;
    height: fit-content;
    z-index: 2;
    position: absolute;
    top: 150%;
    left: 25%; 
    padding: 20px;
}
.close {cursor: pointer;}
.bc_info {display: flex;}
.bc_info img {padding-left: 20px;}

/* Media Queries */
@media only screen and (max-width: 600px){
    .logobar{justify-content: center;}
    .navbar {
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .home_abovefold, .reviews_abovefold, .bookclub_abovefold {
        padding-right: 5px;
        padding-left: 5px;
        flex-wrap: wrap;
        justify-content: center;
    }
    .reader, .little_library, .bookclub_abovefold img {
        margin-left: 0px;
        width: 325px;
    }
    .hometext {
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 10px;
        text-align: center;
        font-size: small;
    }
    .footertext {
        margin-top: 10px;
        padding-left: 150px;
    }
    .beaver {display: none;}
    .bookrow {flex-wrap: wrap;}
    .greatalone, .pplwekeep, .crawdads, .thehelp, .alittlelife, .hmart, .alchemist, .beautifulworld {
        flex-wrap: wrap;
        width: fit-content;
        height: fit-content;
        padding: 10px;
        justify-content: center; 
        text-align: center;
    }
    .bc_belowfold {flex-wrap: wrap;}
    .bookclub_abovefold form {padding-bottom: 20px;}
    .bookclub_abovefold img {width: 240px;}
    .bookclub_text {
        font-size: small;
        line-height: 20px;
        text-align: center;
    }
    #bc1 {width:100%;}
    .thumb_pic {order: 1;}
    .description {
        order: 2;
        text-align: center;
    }
    .bc_info {
        flex-wrap: wrap;
        justify-content: center;
    }
    .bc_questionnaire {width: 350px;}
    #browse_bc {
        grid-template-rows: .25fr .5fr .5fr .5fr;
        grid-template-columns: .5fr .5fr;
    }
}

@media only screen and (max-width: 1150px) and (min-width: 601px){
    .reader, .little_library, .bookclub_abovefold img {
        margin-left: 5px;
    }
    .home_abovefold, .reviews_abovefold, .bookclub_abovefold {
        padding-right: 5px;
        padding-left: 5px;
        flex-wrap: wrap;
        justify-content: center;
    }
    .hometext {
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 10px;
        text-align: center;
    }
    .thumb_pic {order: 1;}
    .description {
        order: 2;
        text-align: center;
    }
    .bc_info {
        flex-wrap: wrap;
        justify-content: center;
    }
    .bc_belowfold {flex-wrap: wrap;}
    .bc_questionnaire {width: max-content;}
}
@media only screen and (max-width: 1400px) and (min-width: 601px){
   /* .bookrow {flex-wrap: wrap;} */
   .greatalone, .pplwekeep, .crawdads, .thehelp, .alittlelife, .hmart, .alchemist, .beautifulworld {
    flex-wrap: wrap;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    justify-content: center; 
    text-align: center;
   }
}
@media only screen and (max-width: 900px) and (min-width: 601px){
    .greatalone, .pplwekeep, .crawdads, .thehelp, .alittlelife, .hmart, .alchemist, .beautifulworld {
        flex-wrap: wrap;
        width: fit-content;
        height: fit-content;
        padding: 10px;
        justify-content: center; 
        text-align: center;
    }
    .bookrow {flex-wrap: wrap;}
}